@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  
  .formContainer {
    
    background-image: linear-gradient(rgb(164, 43, 191), rgb(109,43,238));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  
    .formWrapper {
      background-color: white;
      padding: 30px 80px;
      box-shadow: 	0px 0px 15px -4px rgba(0,0,0,0.20);
      border-radius:	10px;

      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      
  
      .logo {
        color: black;
        font-weight: 800;
        font-size: 24px;
  
      }
  
      .title {
        color: #5d5b8d;
        font-size: 15px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border: 1px solid black;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: #4285F4;
          color: rgb(255, 255, 255);
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
  
          img {
            width: 32px;
          }
        }
      }
      .sign-in {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        color: #333333;
        font-size: 16px;
        font-family: Arial, sans-serif;
        padding: 10px 55px;
        cursor: pointer;
      }
      .sign-in > img {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 10px;
      }
      .sign-in:hover {
        background-color: #eeeeee;
        border-color: #bbbbbb;
        color: #222222;
      }      
      p {
        color: black;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
  
  .home {
    background-image: linear-gradient(rgb(164, 43, 191), rgb(109,43,238));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      box-shadow: 	0px 0px 15px -4px rgba(0,0,0,0.20);
      border-radius:	10px;
      width: 65%;
      height: 80%;
      display: flex;
      overflow: hidden;
      @include tablet {
       width: 90%;
      }
  
      .sidebar {
        flex: 1;
        background-color:rgba(255, 255, 255);
        position: relative;
        border : 1px solid gray;
  
        .navbar {
          display: flex;
          align-items: center;
          background-color: rgba(255, 255, 255);
          height: 50px;
          padding: 10px;
          justify-content: space-between;
          color: black;
          border-bottom: 1px solid gray;
  
          .logo {
            font-size: 20px;
            @include tablet {
              display: none;
            }
          }
  
          .user {
            display: flex;
            gap: 13px;
  
            img {
              background-color: #ddddf7;
              height: 26px;
              width: 26px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              font-size: 20px;
              margin-top: 3px;
            }
  
            button {
              background-color: rgb(85, 43, 238);
              color: #ddddf7;
              font-size: 15px;
              border: none;
              cursor: pointer;
              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }
        .search {
          border-bottom: 1px solid gray;
          padding: 5px;

  
          .searchForm {
            padding: 10px;
  
            input {
              background-color: transparent;
              border: none;
              color: black;
              outline: none;
  
              &::placeholder {
                color: rgba(185,185,185);
              }
            }
          }
        }
  
        .userChat {
          padding: 10px;
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: black;
          cursor: pointer;
  
          &:hover {
            background-color: rgb(85, 43, 238);
            color: white;
          }
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .userChatInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2px;
            gap: 6px;
          
            .userChatInfo-name {
              font-size: 18px;
              font-weight: 500;
            }
            .userChatInfo-last-message{
              font-size: 14px;
              color: rgba(185,185,185);
            }
          }
        }
      }
      .chat {
        flex: 2;
        border: 1px solid gray;
        
        .chatInfo {
          height: 50px;
          background-color: rgb(255, 255, 255);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 10px;
          color: black;
          border-bottom: 1px solid gray;
          font-size: 20px;
          font-weight: 500;
          gap: 15px;
        }

        .chatInfo > img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

  
        .chatIcons {
          display: flex;
          gap: 10px;
  
          img {
            height: 24px;
            cursor: pointer;
          }
        }
  
        .messages {
          background-color: rgba(255, 255, 255);
          padding: 10px;
          height: calc(100% - 160px);
          overflow: scroll;
  
          .message {
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
  
            .messageInfo {
              display: flex;
              flex-direction: column;
              color: gray;
              font-weight: 300;
              margin-top: 10px;
  
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .messageContent {
              max-width: 80%;
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              p {
                background-color: rgb(85, 43, 238);
                padding: 10px 20px;
                color: white;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
              }
  
              img {
              
                width: 50%;
              }
            }
  
            &.owner {
              flex-direction: row-reverse;
  
              .messageContent {
                align-items: flex-end;
                p {
                  background-color: rgb(164, 43, 191);
                  color: white;
                  border-radius: 10px 0px 10px 10px;
                }
              }
            }
          }
        }
  
        .input {
          height: 50px;
          background-color: white;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid lightgray;
  
          input {
            width: 100%;
            border: none;
            outline: none;
            color: #2f2d52;
            font-size: 18px;
  
            &::placeholder {
              color: lightgray;
            }
          }
  
          .send {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              height: 24px;
              cursor: pointer;
            }
  
            button {
              border: none;
              padding: 10px 15px;
              color: white;
              background-color: rgb(85, 43, 238);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .errorContainer {
    background-image: linear-gradient(rgb(164, 43, 191), rgb(109,43,238));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
  }
  
  .errorText {
    margin: 10px;
  }
  
  .pageNotFoundContainer {
    background-image: linear-gradient(rgb(164, 43, 191), rgb(109,43,238));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
  }